@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*------------------
  01. Typography & Global Color
--------------------*/
html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #3D3D3D !important;
}

body {
  --primaryColor: var(--whiteColor);
  --secondaryColor: #D5B7FF;
  --lightBgColor:#f4ecff;
  --thrdColor: #BB8AFF;
  --lightColor: #F0E5FF;
  --accentColor: #a05cff;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --greyLightColor: #F5F5F5;
  --darkGreyColor: #3D3D3D;
  --footerColor: #dee2e6bf;
}

h1 {
  color: #000000;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
}

h2 {
  color: #000000;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

h3 {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}

h4 {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.bold {
  font-weight: 700;
}

.txt-l {
  font-size: 18px;
  line-height: 30px;
}

.txt-m {
  font-size: 16px;
  line-height: 24px;
}

.txt-s {
  font-size: 14px;
  line-height: 24px;
}

.txt-xs {
  font-size: 12px;
  line-height: 18px;
}

/*---------------------
  02. Color
----------------------*/
.bg-secondary-clr {
  background: var(--secondaryColor) !important;
}

.txt-primary-clr {
  color: var(--accentColor) !important;
}

.txt-thrd-clr {
  color: var(--thrdColor) !important;
}

.txt-light-clr {
  color: var(--greyLightColor);
}

.txt-footer-clr {
  opacity: 0.8;
  color: var(--whiteColor);
}

/*---------------------
  03. Coustmize
----------------------*/

a {
  color: var(--blackColor);
}

a:hover {
  --bs-link-color-rgb: var(--accentColor) !important;
}

.nav {
  --bs-nav-link-color: var(--blackColor);
  --bs-nav-link-hover-color: var(--accentColor);
  --bs-nav-link-disabled-color: var(--accentColor);
}

/* .nav-link {
  color: var(--blackColor);
} */

.nav-link:hover {
  color: var(--accentColor);
}

.nav-item .active {
  color: var(--accentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}

.nav-footer {
  opacity: 0.9;
  --bs-nav-link-color: var(--whiteColor) !important;
}


.btn-primary-cus {
  background: var(--accentColor);
  color: var(--whiteColor);
  transition: all 0.4s ease;
}

.btn-primary-cus:hover {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  /* border: 1px solid var(--accentColor); */
}

.btn-link {
  --bs-btn-color: var(--blackColor);
  --bs-btn-hover-color: var(--accentColor);
}

.btn-outline-secondary {
  background: transparent;
  color: var(--accentColor);
  border: 1px solid var(--accentColor);
}

.btn-outline-secondary:hover {
  background: var(--accentColor);
  color: var(--whiteColor);
  border: 1px solid var(--secondaryColor);
}

.btn-rd {
  border-radius: 50%;
}

.btn-mail {
  font-size: 1.8rem;
}

.nav-link {
  padding-left: 0;
  padding-right: 0;
  margin: 0 1rem 0 1rem;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-delay: 0.03s;
}

.border-top {
  border-width: 0.5px !important;
}

footer {
  padding: 4rem 0 4rem 0;
}