@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Global styles */
:root {
    --primary-color: #a05cff;
    --secondary-color: #D5B7FF;
    --third-color: #BB8AFF;
    --light-bg-color: #f8f3ff;
    --light-color: #F0E5FF;
    --black-color: #000000;
    --white-color: #ffffff;
    --dark-red: #FF7A28;
    --light-red: #FD9D07;
    --grey-light-color: #F5F5F5;
    --grey-2: #6b6b6b;
    --grey-3: #3D3D3D;
    --footer-color: #dee2e6bf;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdfcf9;
    color: var(--grey-3);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
.bold {
    color: var(--black-color);
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}

h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
}

h5 {
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
}

.bold {
    font-weight: 700;
}

.txt-l {
    font-size: 20px;
    line-height: 32px;
}

.txt-m {
    font-size: 16px;
    line-height: 26px;
}

.txt-s {
    font-size: 14px;
    line-height: 26px;
}

.txt-xs {
    font-size: 12px;
    line-height: 20px;
}

/*---------------------
  02. Color
----------------------*/
.bg-secondary-clr {
    background: var(--secondary-color) !important;
}

.txt-primary-clr {
    color: var(--primary-color) !important;
}

.txt-gogo-clr {
    color: var(--dark-red) !important;
}

.txt-thrd-clr {
    color: var(--third-color) !important;
}

.txt-light-clr {
    color: var(--grey-light-color);
}

.txt-dark {
    color: var(--grey-3);
}

.txt-grey {
    color: var(--grey-2);
}

.txt-footer-clr {
    opacity: 0.8;
    color: var(--white-color);
}

.txt-footer-end-clr {
    opacity: 0.5;
    color: var(--white-color);
}

a {
    color: var(--black-color);
}

a:hover {
    --bs-link-color-rgb: var(--primary-color) !important;
}

.bg-skill {
    background: var(--light-bg-color) !important;
}

.navg {
    text-decoration: none;
}

.navg:hover {
    text-decoration: underline;
    color: var(--primary-color) !important;
}

.navg-p {
    text-decoration: underline;
    color: var(--primary-color) !important;
}

.navg-p:hover {
    color: var(--third-color) !important;
}

/*---------------------
  03. Navigation / Header
----------------------*/

.nav {
    --bs-nav-link-color: var(--black-color);
    --bs-nav-link-hover-color: var(--primary-color);
    --bs-nav-link-disabled-color: var(--primary-color);
}

/* .nav-link {
  color: var(--black-color);
} */

.nav-link:hover {
    color: var(--primary-color);
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
    background-position: 0 calc(100% - 0.1em);
}

.nav-item .active {
    color: var(--primary-color);
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
    background-position: 0 calc(100% - 0.1em);
}

.nav-footer {
    opacity: 0.9;
    --bs-nav-link-color: var(--white-color) !important;
}

.nav-link {
    padding-left: 0;
    padding-right: 0;
    margin: 0 1rem 0 1rem;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0.03s;
}

/*---------------------
  04. Button
----------------------*/

.btn-primary-cus {
    background: var(--primary-color);
    color: var(--white-color);
    transition: all 0.4s ease;
}

.btn-primary-cus:hover {
    background: var(--secondary-color);
    color: var(--white-color);
    /* border: 1px solid var(--primary-color); */
}

.btn-link {
    --bs-btn-color: var(--black-color);
    --bs-btn-hover-color: var(--primary-color);
}

.btn-outline-secondary {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-outline-secondary:hover {
    background: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--secondary-color);
}

.btn-rd {
    border-radius: 50%;
}

.btn-mail {
    font-size: 1.8rem;
}

/*---------------------
  05. Customise
----------------------*/
.my-6 {
    margin: 5rem 0 5rem 0;
}

.border-top {
    border-width: 0.5px !important;
}

footer {
    padding: 3rem 0 2rem 0;
}

.polygon {
    transition: all 0.35s ease;
}

.skill-exp {
    padding: 5rem 0 5rem 0;
}

.side-skill {
    padding: 5rem 0 1rem 0;
}

.sam-photo img {
    /* height: 100%; */
    border-radius: 20px;
    box-shadow: 8px 13px 32px rgba(0, 0, 0, .15);
}

.img-box-sd {
    height: 100%;
    border-radius: 20px;
    box-shadow: 8px 13px 32px rgba(0, 0, 0, .15);
}

.ds-img-box {
    height: 100%;
    border-radius: 20px;
    background: var(--light-bg-color) !important;
}

.sr-img-box {
    height: 100%;
    border-radius: 20px;
    background: #faeccc;
}

.sr-survey-box {
    height: 100%;
    border-radius: 20px;
    background: #bdd3eb;
}

.sr-pain-box {
    height: 100%;
    border-radius: 20px;
    background: #FEBAB9;
}

.border-img-box {
    height: 100%;
    border-radius: 50px;
}

/* Timeline */

.timeline-dot {
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 100%;
    flex: none;
    margin-top: 6px;
    margin-bottom: 2px
}

.timeline-single {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex
}

.timeline-right {
    margin-left: 20px
}

.timeline-line {
    width: 2px;
    background-color: var(--light-color);
    ;
    flex: 1
}

.timeline-line.last {
    opacity: 0
}

.timeline-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.timeline-item-title {
    margin-bottom: 4px;
    font-weight: 600
}

.timeline-item-description {
    margin-bottom: 24px
}

.project-text-block {
    max-width: 1060px;
}

.icon-sm {
    width: 1.5rem;
}


/* Custom Card */
a.card-work {
    text-decoration: none;
    color: #3D3D3D !important;
}

.card {
    border-radius: 30px;
    border-color: transparent;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-overlay-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #333;
}

.card-tag {
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}

.card-tag-red {
    background-color: var(--light-bg-color);
    padding: 5px 10px;
    border-radius: 20px;
    color: #FA373B;
    font-size: 12px;
}

.card-tag-yellow {
    background-color: #FFD400;
    padding: 5px 10px;
    border-radius: 20px;
    color: #EC008C;
    font-size: 12px;
}

.card-tag-orange {
    background-color: #F8A019;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--light-color);
    font-size: 12px;
}

.card-tag-gogo {
    background-color: var(--light-red);
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--white-color);
    font-size: 12px;
}

.card-title {
    display: flex;
    align-items: center;
}


/* Sticky Side Bar */
.cs-sticky-sidebar {
    z-index: 2;
    width: 130px;
    position: fixed;
    top: 90px;
    bottom: auto;
    left: 32px;
    right: auto;
    transition: left 0.3s ease;
}

.cs-side-nav {
    color: var(--grey-2);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.active {
    color: var(--grey-3);
    font-weight: 600;
    text-decoration: none;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-up.active {
    opacity: 1;
    transform: translateY(0);
}

/* Animations */

.animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@keyframes morph {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(40deg) scale(1.1);
    }

    100% {
        transform: rotate(40deg) scale(1);
    }
}

@media (max-width: 767.98px) {

    /* Hide sidebar on mobile */
    .cs-sticky-sidebar {
        display: none;
    }
}


/* Other */

.avatar-icon {
    /* border-radius: 50%;
    width: 100px;
    height: 100px; */
    width: 45px;
    border-radius: 50%;
    border: 2.5px solid var(--primary-color);
}

.icon-border {
    background-color: var(--light-color);
    /* border: 1px solid var(--primary-color); */
    border-radius: 50%;
    transition: background-color .4s;
}

.icon-square-border {
    background: var(--white-color);
    border-radius: 20%;
    transition: background-color .4s;
    width: 70px;
    height: 70px;
    box-shadow: 8px 13px 32px rgba(0, 0, 0, .15);
}

.icon-tool {
    /* background: var(--white-color); */
    border-radius: 20%;
    /* transition: background-color .4s; */
    width: 70px;
    height: 70px;
    box-shadow: 8px 13px 32px rgba(0, 0, 0, .15);
}

.banner-img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    top: 7%;
    right: 1%;
}

.banner-img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}


.banner-img-box:hover .profile-img {
    bottom: 4%;
}

.testing-img-box img {
    transition: transform 0.8s ease-in-out;

}

.testing-img-box:hover img {
    transform: translateY(-25px);

}

.banner-txt {
    opacity: 0.8;
    margin: 2rem 0 2rem 0;
}


.media-contact {
    margin: 1rem 0;
}

.media-contact a {
    font-size: 1.8rem;
    color: var(--black-color);
    margin-right: 23px;
}

/* footer */
.media-contact a:hover {
    color: var(--primary-color);
}

.footer-media-contact {
    margin: 3rem 0;
}

.footer-media-contact a {
    font-size: 1.8rem;
    color: var(--white-color);
    margin-right: 23px;
}

.footer-media-contact a:hover {
    color: var(--primary-color);
}

.icon-footer-border {
    background: var(--grey-3);
    border-radius: 50%;
    transition: background-color .4s;
}

/* landing */


.skill {
    margin: 40px 0;
    line-height: 20px;
    padding: 0;
}

.skill li {
    margin: 0;
    display: block;
    justify-content: start;
    list-style: none;
    position: relative;
    padding: 0 0 0 35px;
}

ul.arrow li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    height: 8px;
    width: 8px;
    border: 1px solid #86684C;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}

a.photo-portfolio {
    font-family: 'Poppins', sans-serif;
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 30px;
}

a.photo-portfolio:hover {
    color: #000000;
}


.project-btn {
    font-family: 'Poppins', sans-serif;
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 100;
    /* font-size: 20px; */
    margin-bottom: 30px;
}

.project-btn:hover {
    color: #000000;
}

.info p {
    font-family: 'Poppins', sans-serif;
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.avatar-img {
    padding: 12px;
}

.avatar-img img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 2px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0 30px;
}

.title {
    line-height: 22px;
    font-size: 20px;
    color: #3e4555;
}

.subtitle {
    color: #8d97ad;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 15px;
}

/* service */
.spectrum-illustration p {
    color: #5D5D5D;
    line-height: 1.4em
}

.illustration {
    transform: scale(0.5);
    transform-origin: top left;
    margin-bottom: -50px;
    width: 220px;
    height: 160px;
    position: relative;
    background-image: url("../assets/img/home.svg")
}

.illustration-web {
    background-position: 8px 8px
}

.illustration-dev {
    background-position: 25px -179px
}

.illustration-mobile {
    background-position: 0 -380px
}

#line-web.animate {
    animation: dash-1 1.2s linear alternate forwards;
    animation-delay: .25s
}

#line-mobile.animate {
    animation: dash-2 .7s ease alternate forwards;
    animation-delay: .25s
}

#line-dev.animate {
    animation: dash-2 .9s linear alternate forwards;
    animation-delay: .25s
}

.blob {
    background: var(--primary-color);
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 100%;
    transition: .25s;
    transform: scale(0)
}

#blob-1 {
    top: 1px;
    left: 72px
}

#blob-1.animate {
    transform: scale(1);
    animation: blob-1 1.2s linear alternate forwards;
    animation-delay: .25s
}

#blob-2 {
    top: 22px;
    left: 40px
}

#blob-2.animate {
    transform: scale(1);
    animation: blob-2 .9s ease alternate forwards;
    animation-delay: .25s
}

#blob-3 {
    top: 104px;
    left: 18px
}

#blob-3.animate {
    transform: scale(1);
    animation: blob-3 .9s linear alternate forwards;
    animation-delay: .25s
}

@keyframes dash-1 {
    from {
        stroke-dashoffset: 385
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes dash-2 {
    from {
        stroke-dashoffset: 138
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes blob-1 {
    0% {
        transform: scale(1) translateX(0) translateY(0)
    }

    19% {
        transform: scale(1) translateX(-70px)
    }

    56% {
        transform: scale(1) translateX(-70px) translateY(141px)
    }

    75% {
        transform: scale(1) translateX(0) translateY(141px)
    }

    100% {
        transform: scale(1) translateX(70px) translateY(72px)
    }
}

@keyframes blob-2 {
    0% {
        transform: scale(1) translateX(0) translateY(0)
    }

    100% {
        transform: scale(1) translateX(141px) translateY(95px)
    }
}

@keyframes blob-3 {
    0% {
        transform: scale(1) translateX(0) translateY(0)
    }

    40% {
        transform: scale(1) translateX(33px) translateY(34px)
    }

    100% {
        transform: scale(1) translateX(120px) translateY(34px)
    }
}

@media (min-width: 576px) {
    .illustration {
        transform: scale(0.5);
        transform-origin: top left;
        float: left;
        margin: 0 -70px -60px 0
    }
}

@media (min-width: 768px) {
    .illustration {
        transform: scale(0.7);
        margin: 0 -20px -30px 0
    }
}

@media (min-width: 1024px) {
    .illustration {
        transform: scale(1);
        float: none;
        margin: 30px auto 40px auto
    }

    .spectrum-illustration {
        text-align: center
    }

    .spectrum-illustration p {
        padding: 0 5%
    }
}

@media (max-width: 500px) {
    .landing {
        height: auto;
    }

    .social {
        text-align: center;
        margin: 40px 0;
    }

    .img-box {
        height: 60%;
        bottom: unset;
    }
}
