@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:400');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #f7edd5 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem !important;
}

h1 {
  color: #111;
  text-align: center;
  letter-spacing: 2px;
}

h4 {
  line-height: 70px;
  display: inline;
  background-color: salmon;
  box-shadow:
    8px 1px 0 3px salmon,
    -8px 1px 0px 3px salmon;
}

a img {
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
  padding-top: 10px;
}

.brown{
  color: #86684C;
}

.black{
  color: #000000;
}

p{
  color: #8F9EA5;
  opacity: 0.8;
  font-weight:100;
  margin-top: 10px;
  font-size: 20px;
}

.portfolio-link{
  margin:60px 0;
  display: flex;
  justify-content: center;
}

.portfolio-link a{
  text-decoration: none;
  display: absolute;
  display: block;
  width: 370px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-15deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.portfolio-link a:before{
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.portfolio-link a:after{
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.portfolio-link a:hover{
  transform: rotate(-20deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.portfolio-link a span{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #444242;
  letter-spacing: 4px;
  transition: .5s;
}

.portfolio-link a:hover span{
  color: #ffffff;
}

.portfolio-link a:hover:nth-child(1){
  transform: rotate(-20deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}


.portfolio-link a:hover:nth-child(1) {
  background: #aa8665;
}

.portfolio-link a:hover:nth-child(1):before {
  background: #866b51;
}

.portfolio-link a:hover:nth-child(1):after {
  background: #745941;
}

/* landing */

.landing{
  height: 100vh;
  position: relative;
  display: flex; 
  align-items: center; 
}

.skill{
  margin:40px 0;
  line-height: 20px;
  padding: 0;
}

.skill li{
  margin: 0;
  display: block;
  justify-content: start;
  list-style: none;
  position: relative;
  padding: 0 0 0 35px;
}

ul.arrow li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 8px;
  border: 1px solid #86684C;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}

a.photo-portfolio{
  font-family: 'Poppins', sans-serif;
  color: #606163;
  line-height: 22px;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 30px;
}

a.photo-portfolio:hover{
  color: #000000;
}

.btn{
  background: #86684C;
  border-radius: 5px;
  padding: 10px 22px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.btn:hover{
  background: transparent;
  color: #86684C;
  border: 1px solid #86684C;
}

.project-btn{
  font-family: 'Poppins', sans-serif;
  color: #606163;
  line-height: 22px;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 100;
  /* font-size: 20px; */
  margin-bottom: 30px;
}

.project-btn:hover{
  color: #000000;
}

.info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #444242;
  text-align: left;
}

.info p{
  font-family: 'Poppins', sans-serif;
  color: #606163;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.img-box{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.img-box:hover .back-img{
  bottom: 40px;
}
.img-box:hover .man-img{
  left: 54%;
}

.social{
  margin: 30px 0;

}

.social a{
  font-size: 30px;
  color: #606163;
  margin-right: 25px;
}
.social a:hover{
  color: #86684C;
}

@media (max-width: 500px) {
  .landing{
    height: auto;
  }

  .social{
    text-align: center;
    margin: 40px 0;
  }

  .img-box{
    height: 60%;
    bottom: unset;
  }
}


