@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

body {
  margin: 0;
  padding: 0;
  background: #f7edd5 !important;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem !important;
}

h1 {
  color: #111;
  text-align: center;
  letter-spacing: 2px;
}

h4 {
  line-height: 70px;
  display: inline;
  background-color: salmon;
  box-shadow:
    8px 1px 0 3px salmon,
    -8px 1px 0px 3px salmon;
}

a img {
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
  padding-top: 10px;
}

.brown{
  color: #86684C;
}

.black{
  color: #000000;
}

p{
  color: #8F9EA5;
  opacity: 0.8;
  font-weight:100;
  margin-top: 10px;
  font-size: 20px;
}

ul li {
  list-style: none;
  margin: 70px 5px;
  display: flex;
  justify-content: center;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

ul li a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 350px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-15deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: rotate(-20deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

ul li:hover .fa {
  color: #fff;
}

ul li:hover span {
  color: #fff;
}

ul li:hover:nth-child(1) a {
  background: #3b5998;
}

ul li:hover:nth-child(1) a:before {
  background: #365492;
}

ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

ul li:hover:nth-child(2) a {
  background: #00aced;
}

ul li:hover:nth-child(2) a:before {
  background: #097aa5;
}

ul li:hover:nth-child(2) a:after {
  background: #53b9e0;
}

ul li:hover:nth-child(3) a {
  background: #dd4b39;
}

ul li:hover:nth-child(3) a:before {
  background: #b33a2b;
}

ul li:hover:nth-child(3) a:after {
  background: #e66a5a;
}

ul li:hover:nth-child(4) a {
  background: #e4405f;
}

ul li:hover:nth-child(4) a:before {
  background: #d81c3f;
}

ul li:hover:nth-child(4) a:after {
  background: #e46880;
}

ul li:hover:nth-child(5) a {
  background: #b640e4;
}

ul li:hover:nth-child(5) a:before {
  background: #b91cd8;
}

ul li:hover:nth-child(5) a:after {
  background: #cf68e4;
}

ul li:hover:nth-child(6) a {
  background: #40e45b;
}

ul li:hover:nth-child(6) a:before {
  background: #1cd854;
}

ul li:hover:nth-child(6) a:after {
  background: #68e478;
}

ul li:hover:nth-child(7) a {
  background: #40e4e4;
}

ul li:hover:nth-child(7) a:before {
  background: #1cd2d8;
}

ul li:hover:nth-child(7) a:after {
  background: #68e0e4;
}

ul li:hover:nth-child(8) a {
  background: #4066e4;
}

ul li:hover:nth-child(8) a:before {
  background: #1c6ed8;
}

ul li:hover:nth-child(8) a:after {
  background: #688fe4;
}

/* landing */

.landing{
  height: 100vh;
  position: relative;
  display: flex; 
  align-items: center; 
}

.skill{
  margin-top: 30px;
  line-height: 30px;
  padding: 0;
}

.skill li{
  margin: 0;
  display: block;
  justify-content: start;
}


