@font-face{
    src: url(assets/fonts/NiveauGroteskRegular.ttf);
    font-family: niv-regular;
}

@font-face{
    src: url(assets/fonts/NiveauGroteskBold.ttf);
    font-family: niv-bold;
}

html,
body {
    font-family: niv-regular;
    width: 100%;
    height: 100%;
    background: url(assets/img/bg-img.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.digitalBank-main-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 350px;
}

.text-container h1 {
    color: #ffff;
    font-family: niv-bold;
    font-size: 3.5rem;
    font-weight: bold;
}

.text-container span {
    color: #989898;
    font-size: 1.2rem;
    font-weight: lighter;
}

.form-label {
    color: #989898;
}

.form-check {
    color: #8B8B8B;
}

.red {
    color: red;
}

.btn-submit {
    background-color: red;
    color: #ffff;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: #8B8B8B;
    color: #ffff;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8B8B8B;
    font-weight: thin;
    opacity: 1;
    /* Firefox */
}

/* Custom Checkbox */

/* START of Round Checkbox */
.round {
    position: relative;
}

.round label {
    background-color: transparent;
    border: 1px solid #00BA24;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #00BA24;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: transparent;
    border-color: #00BA24;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

/* END of Round Checkbox */

.checkbox-round-row {
    /* width: 90%;
    margin: 0 auto; */
    position: relative;
    display: flex;
    flex-wrap: no-wrap;
    /* margin-top: 10px; */
}

.checkbox-round {
    width: 10%;
    padding-left: 0;
}

.checkbox-caption {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1px;
}

.checkbox-caption span {
    font-size: 16px;
}

/* ipad pro portrait */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {}


/* ipad pro landscape */
@media only screen and (max-width: 1366px) and (max-height: 1024px) {}



/* ipad portrait */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
    
}

/* ipad landscape */
@media only screen and (max-width: 1024px) and (max-height: 768px) {
}

/* iphone x portrait */
@media only screen and (max-width: 375px) and (max-height: 812px) {
    .logo img {
        width: 300px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/* iphone x landscape */
@media only screen and (max-width: 812px) and (max-height: 375px) {
   
}

/* iphone 6/7/8 plus portrait */
@media only screen and (max-width: 414px) and (max-height: 736px) {
    .logo img {
        width: 300px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/* iphone 6/7/8 plus landscape */
@media only screen and (max-width: 736px) and (max-height: 414px) {
}

/* iphone 6/7/8  portrait */
@media only screen and (max-width: 375px) and (max-height: 667px) {
    .logo img {
        width: 300px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/* iphone 6/7/8 landscape */
@media only screen and (max-width: 667px) and (max-height: 375px) {}

/* iphone 5SE  portrait */
@media only screen and (max-width: 320px) and (max-height: 568px) {
    .logo img {
        width: 200px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/* iphone 5SE landscape */
@media only screen and (max-width: 568px) and (max-height: 320px) {
}

/* PIXEL 2XL portrait */
@media only screen and (max-width: 411px) and (max-height: 823px) {
    .logo img {
        width: 300px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/* PIXEL 2XL landscape */
@media only screen and (max-width: 823px) and (max-height: 411px) {
}

/*  PIXEL 2 portrait */
@media only screen and (max-width: 411px) and (max-height: 731px) {
    .logo img {
        width: 300px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/*  PIXEL 2 landscape */
@media only screen and (max-width: 731px) and (max-height: 411px) {}

/*  Galaxy S5  portrait */
@media only screen and (max-width: 360px) and (max-height: 640px) {
    .logo img {
        width: 300px !important;
    }

    .digitalBank-main-content{
        height: fit-content;
        margin: 30px 0;
    }
}

/*  Galaxy S5 landscape */
@media only screen and (max-width: 640px) and (max-height: 360px) {
}