/* ---- Header Nav Bar ---- */
.is-transparent .header-main {
    position: absolute !important;
}

.header-main {
    padding: 8px 0;
    transition: all .4s;
}

.is-transparent .header-main,
.header-main.scrolled {
    width: 100%;
    z-index: 49;
}

.header-main.scrolled {
    position: fixed !important;
    padding: 0;
    background-color: #08103b !important;
    box-shadow: 0 0 20px 0 rgba(18, 24, 58, 0.08);
}

.navbar {
    letter-spacing: .1rem;
}

.navbar-bg {
    background-color: transparent !important;
}

.header-logo img {
    height: 35px;
    width: 35px;
    transition: all .4s;
}

.navbar-nav .dropdown-menu {
    border-radius: 10px;
    border-color: transparent;
    background-color: #00CFFF;
    box-shadow: 0 0 20px 0 rgba(18, 24, 58, 0.08);
}

.navbar-nav .dropdown-menu,
.dropdown-item {
    color: #fff;
}

.navbar-nav .dropdown-menu>a {
    padding: 10px 18px;
}

.dropdown-item:hover {
    color: #1941B1;
    background-color: #00CFFF;
    border-left: 3px solid #1941B1;
    font-weight: bold;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
}

.fa-bars {
    color: #fff;
    font-size: 25px !important;
}

.dropdown-menu {
    font-size: 0.85rem;
}

/* ---- Header Banner ---- */

.has-ovm,
[class*='bg-'] {
    position: relative;
}


.nk-banner {
    display: block;
    width: 100%;
    z-index: 5;
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.has-mask .banner {
    padding-top: 120px;
    padding-bottom: 75px;
}

.has-mask .banner-fs {
    min-height: 100vh;
}

.nk-banner,
.banner-wrap {
    overflow: hidden;
}

.banner-fs .banner-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-wrap {
    width: 100%;
}

/* ---- banner-caption ---- */

.caption-head h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.caption-text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
}

.caption-head,
.caption-text {
    margin-top: 20px;
}

.caption-search {
    margin: 60px auto;
    text-align: center;
}

.caption-search form {
    width: auto;
    height: 60px;
    position: relative;
}

.caption-search form input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 30px;
    background: transparent;
    border-radius: 30px;
    border: 3px solid #00C0C7;
    /* border: none; */
    outline: none;
    box-sizing: border-box;
}

a.search-button {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    border-radius: 25px;
    text-decoration: none;
}

a.search-button .icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 18px;
    left: 2px;
    border-radius: 8px;
    border: 2px solid #fff;
    transition: all .6s ease;
}

a.search-button .icon:after {
    width: 12px;
    height: 2px;
    display: block;
    content: "";
    position: absolute;
    bottom: -5px;
    right: -9px;
    background-color: #fff;
    transform: rotate(45deg);
    transition: all .6s ease;
}

/* Banner bg mask  */

.nk-ovm {
    z-index: 1;
}

.nk-ovm:before {
    z-index: 1;
}

.nk-ovm,
.nk-ovm:before,
.nk-ovm:after,
[class*='bg-'] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.nk-ovm,
.nk-ovm:before,
.nk-ovm:after {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.nk-ovm:before,
.nk-ovm:after {
    content: "";
    bottom: -1px;
    left: -1px;
}

.mask-a-dark:before {
    background-position: bottom center !important;
    background-image: url(../assests/images/mask-a-dark.svg);
}

.shape-a:after {
    background-image: url(../assests/images/shape-a.png);
}

/* ---- particles matrix ---- */
.particles-container {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0 !important;
}

@media (min-width: 992px) {
    .has-mask .banner {
        padding-top: 90px;
        padding-bottom: 180px;
    }

    .caption-head,
    .caption-text {
        margin-top: 25px;
    }
}

@media (min-width: 768px) {
    .has-mask .banner {
        padding-bottom: 140px;
    }

    .caption-text {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}