html,
body {
    background: #000 !important;
}

.stick-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 222px;
    z-index: 2;
}

.logo-layer {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 115px;
    z-index: 2;
}

.flag {
    width: 200px;
    height: 300px;
    margin: auto;
}

.flag2 {
    width: 200px;
    height: 300px;
    margin: auto;
}

.flag-element {
    -webkit-animation: oscill 2s ease-in-out infinite alternate;
    -moz-animation: oscill 2s ease-in-out infinite alternate;
    -ms-animation: oscill 2s ease-in-out infinite alternate;
    animation: oscill 2s ease-in-out infinite alternate;
    background: url("../flag-svg/img/red-flag-portrait.svg");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 200px 100%;
    position: relative;
    height: 100%;
    width: 1px;
    display: inline-block;
}

.flag-element2 {
    -webkit-animation: oscill 2s ease-in-out infinite alternate;
    -moz-animation: oscill 2s ease-in-out infinite alternate;
    -ms-animation: oscill 2s ease-in-out infinite alternate;
    animation: oscill 2s ease-in-out infinite alternate;
    background: url("../flag-svg/img/red-badge-flag.svg");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 200px 100%;
    position: relative;
    height: 100%;
    width: 1px;
    display: inline-block;
}

@-webkit-keyframes oscill {
    100% {
        transform: translateY(8px);
    }
}

@-moz-keyframes oscill {
    100% {
        transform: translateY(8px) rotate(0.01deg);
    }
}

@-ms-keyframes oscill {
    100% {
        transform: translateY(8px);
    }
}

@keyframes oscill {
    100% {
        transform: translateY(8px) rotate(0.01deg);
    }
}


.spark {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: twinkle 0.8s infinite alternate ease-in;
    z-index: 300;
}

/* glow */
.spark:after {
    content: '';
    display: block;
    margin-top: -32.5px;
    background: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: blur(13px);
    opacity: 0.6;
}

.spark-1 {
    margin-top: -115px;
    margin-left: -60px;
    animation-delay: 1s;
    transform: scale(0.8);
}

.spark-2 {
    margin-top: 0;
    margin-left: -90px;
    transform: rotate(45deg);
    animation-delay: 0.6s;
    transform: scale(0.4);
}

.spark-3 {
    margin-top: -45px;
    margin-left: 70px;
    transform: rotate(15deg);
    animation-delay: 0.3s;
    transform: scale(0.6);

}

.spark-4 {
    margin-top: 65px;
    margin-left: 30px;
    animation-delay: 0.7s;
    transform: scale(0.7);
}

.white {
    background: #fff;
}

.yellow {
    background: yellow;
}

.dust {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    z-index: 300;
    animation: twinkle 0.8s infinite alternate ease-in;
}

.dust-1 {
    transform: translate(-35px, 67px);
    animation-delay: 0.7s;
}

.dust-2 {
    transform: translate(-118px, -50px);
    animation-delay: 0.9s;
}

.dust-3 {
    transform: translate(-90px, -85px);
    animation-delay: 1.3s;
}

.dust-4 {
    transform: translate(100px, 10px);
    animation-delay: 1.1s;
}

.dust-5 {
    transform: translate(113px, -110px);
    animation-delay: 0.7s;
}

.dust-6 {
    transform: translate(62px, 30px);
    width: 5px;
    height: 5px;
    animation-delay: 0.3s;
}

@keyframes twinkle {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}